:root {
  /* COLORS */
  --dark-blue: #424A60;
  --gray: #E7ECED;
  --dark-gray: #E7ECEDE6;
  --darker-gray: #E7ECEDBD;
  --green: #23A24D;
  --red: #D75A4A;
  --yellow: #EBBA16;
  --white: #FFF;
  --black: #000;

  /* ICONS */
  --sound-on: url("../icons/sound-on.svg");
  --sound-off: url("../icons/sound-off.svg");
  --sound-half: url("../icons/sound-half.svg");

  /* OTHER */
  --border-radius: 5px;
}
